<form (ngSubmit)="submit(); this.editButtonClicked = false" 
  *ngIf = "this.clicked; else notClicked"
  [ngStyle]="{ 'background-image': 'url(' + weather.icon + ')',
  'background-repeat': 'no-repeat',
  'background-size' : 'cover'
  }">
    <div *ngIf = "weather.initialized; else empty" class="display">
      <div *ngIf = "weather.valid; else invalidCity">
        <h2 style>{{weather.city}}</h2>
        <p>
          Conditions: {{weather.conditions}}<br/>
          Temperature: {{weather.temperature}} &deg;C<br/>
        </p>
      </div>
      <ng-template #invalidCity>
        <h2 style>Invalid city name, please try again!</h2>
      </ng-template>
    </div>
    
    <ng-template #empty>
      <div class="display">
        <h2 style>Please enter your desired city</h2>
      </div>
    </ng-template>

    <div *ngIf = "weather.valid && weather.initialized && !editButtonClicked; else editNotClicked">
      <button type="button" class="btn btn-success btn-sm" (click) = "this.editButtonClicked = true">Edit</button>
    </div>

    <ng-template #editNotClicked>
      <div class="form-group-sm" style="padding-left: 20px; padding-right: 20px">
        <label for="inputCity">City:</label>
        <input id="inputCity" class="form-control form-control-sm" type="text" name="city" [(ngModel)]="city">
        <input type="submit" class="btn btn-success btn-sm" value="Submit">
      </div>
    </ng-template>
</form>


<ng-template #notClicked>
  <div style="height: 260px;"></div>
</ng-template>
